@{
    ViewData["Title"] = "Bill";
}

<form asp-action="Bill">
    <label>Số lượng :</label>
    <input type="text" name="soluong" >
    <label>Đơn giá :</label>
    <input type="text" name="dongia" step="0.01">
    <input type="submit" value="Tính tiền">
</form>

<h1>Tổng tiền : @ViewBag.Message</h1>