@{
    ViewData["Title"] = "Score";
}

<form asp-action="Score">
    <label>Điểm A :</label>
    <input type="text" name="A" step="0.1">
    <label>Điểm B :</label>
    <input type="text" name="B" step="0.1">
    <label>Điểm C :</label>
    <input type="text" name="C" step="0.1">
    <input type="submit" value="Tính điểm">
</form>

<h1>Tổng điểm : @ViewBag.Message</h1>