@{
    ViewData["Title"] = "BMI";
}

<form asp-action="BMI">
    <label>cân nặng (KG) :</label>
    <input type="number" name="Weight" step="0.1">
    <label>Chiều cao (M) :</label>
    <input type="number" name="Height" step="0.01">
    <input type="submit" value="BMI">
</form>

<h1>@ViewBag.BMI</h1>
<h1>Tình trạng : @ViewBag.Message</h1>